/* layout */

header{
    padding: 0 3em;
    background: lightskyblue;
}

.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5em;

    }

.nav-items{
    display: flex;
    list-style: none;

    }

.nav-items a {
    text-decoration: none;
    justify-content: center;
    margin-left: 2.5em;
}

.nav-items a:hover,
.nav-items a:focus {
    color: #1792d2;
}

.current-page {
    border-bottom: 1px solid #707070;
}

.current-page:hover {
    color: #707070;
}

.dr-login{
    background:  #48508E;;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
    font-size: 15px;
}

.dr-login:hover {
    background: #2A6881;
}

@media(max-width:650px){
 .nav{
     flex-direction: column;
     padding: 1em;
 }
     .nav-items a {
         margin: center;
 }


}
