/* layout */


.bg-dark{
    background: #4B4B74 !important;
    
}


.nav-link{
    color:#fff;
    margin-left: 1em;
    
    }

.navbar-item :hover,
.navbar-item :focus {
    color: #ffffff;
}


.dr-login{
    background:  #48508E;;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
    font-size: 15px;
    margin-right:0.5em;
    text-decoration: none
}

.dr-login:hover {
    background: #2A6881;
}

@media(max-width:650px){
 .nav{
     flex-direction: column;
     padding: 1em;
 }
     .nav-items a {
         margin: center;
 }

 .navbar-nav{
    margin-left:500px;
 }

}

.badge{
    font-weight: bold;
    background-color: black;
}

.offcanvas-size-xl {
    --bs-offcanvas-width: min(600px, 500px) !important;
}