
main{

    padding: 1em 3em;
    background-image:url(../images/banner3.png);
    background-size: 100%;
    background-position: top bottom;
    background-repeat: no-repeat;
    margin-top: 0;
    height: 100%;
    
   
}

.btn{
    margin-top:2em;
    font-size: 1.5em;
 
}

/* .btn-primary {
    background-color: #000;
} */

.btn-secondary{
    background-color:#4b4b74;
}
h1,h2,h3,p{
    margin: 0;
}


.main-container{
    display: flex;
    justify-content: space-between;
    padding: 3em 3em;
  
 
}

.main-left{
    width:90%
}

.main-right{
    width:80%;
    margin-top: 70px;
 
    margin-left: auto;
    margin-bottom: 0px;
  
}




.hero-sub-text{
    margin-top:1em;
    color: #D4D4D4;
}

.hero-text{
    margin-top:2em;
    font-size:45px;
    color: #ffffff;
}


.benefit{
    margin-top: 150px;
}



/*form{

    margin-left: auto;
    padding: 2em;
    width: 50%;
    background: #fff;
    border: 2px solid;
    border-radius: 28px;
}*/

form{

	
	margin:0 auto;
    width: 85%;
    padding: 2em 2em;
	background: #FFF;
	border-radius: 15px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

/*.form-container{

    margin:1em 1em;
    width: 80%;
}*/

.form-container{

	background: #F8F8F8;
	border-radius: 6px;
    margin-bottom: 0;
    height:fit-content;

}
/*.form-input{   
    fill: none;
    background: transparent;
    width: 70%;
    margin-top: 2.5em;
}*/

.form-text{
    text-align: center;
    margin-bottom: 1em;
    font-size: 2em;
   
}

.form-input{
    display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 8px;
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border: 5px solid #F8F8F8;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.33);
    font-weight: bold;
	/*-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);*/

}

form  label{
	display: block;
	font: 16px Roboto;
	margin-bottom: 1em;
    font-weight:500;
 
}

.btn{
    padding: 0.5em 1em;
}

/*.form-button{
    cursor: pointer;
    display: inline-block;
    background: #FFE600;
    color: black;
    text-align: center;
}*/

.form-button{
background:  #48508E;;

padding: 8px 20px 8px 20px;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
color: #fff;
text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
font: normal 30px 'Bitter', serif;
-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
border: 1px solid #257C9E;
font-size: 20px;
}
.form-button:hover {
    background: #4b4b74;
}


@media (max-width:650px){
    .main-container{
        flex-direction: column;
        align-items: center;
    }
    form{
        margin:auto;
    }
    .form-container{   
        display: grid;
        grid-template-columns: 50% 50%
    }
  
}


/*process styling*/

.process{
    padding: 2em;
    background-color:#f3f3f3; ;
   
}
.process-text{
    text-align: center;
    font-size:3em;
}

.process-left-text{
    width: 40%;
    text-align: center;
    margin: auto;
}

.process-container{
    margin-top: -100px;
}

.treatment-grp{
    list-style-type: none;
}

.bg-primary{
    background: #4b4b74;
}
.schedule{
    margin-top: 4em;
}
.process-btn{
    margin-left: 8em;
    width: 10em;
    
}

.process-bk{
 
    margin-left:20em;
    
}

.recovery-item::before{

        display:inline-block;
    
        height:30px;
        width:30px;
        margin-top:8px;
        margin-right: 15px;
        content: "";
        background:url(../images/tick_1.png) no-repeat 0 0;
        background-size: 20px 20px;
        /* align-items: center;  */
        vertical-align: middle;
    }




/*Clinics styling */

.clinics-container{
    
    background-color: #f3f3f3f3;
    padding: 2em;
}

.container-logos{
    padding: 0;
    list-style: none;
}


.clinic-logos{
    margin-top:2em;

}

.consultation-button{
    border: #48508E;
    padding: 8px 20px 8px 20px;
    color: #FFF;
    border-radius: 5px;
    margin:auto;
}
.clinic-text{
    text-align: center;
    
}
.clinic-sub-text{
    text-align: center;
    font-weight: normal;
}
.clinic-logos{
    display: flex;
}

/* Testimonial section */

.testimonial{
    padding: 3em;
}

.testimonial-text{
    text-align: center;
    
}
.testimonial-sub-text{
    text-align: center;
    font-weight: normal;
}

.row{
    margin-top: 2em;
}

.col-md-4{
    margin: 3.5em auto;
}

.profile{
    padding:2em 2em;
    background-color: #efefef;
    width:90%;
}

.profile img {

    margin-top: -100px;

    position:absolute;
    margin-left:6em;
    border:10px solid white
}

.user{
    width:100px;
    height: 100px;
    border-radius: 50%;
    
}

/* login functionality */

.login-wrapper{
   align-content: center;
}

/*Footer */

#footer-partner{
    margin: 0;
}

#footer-aboutus{
    margin: 0;
}

